<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="login-container">
      <h2>Existing User Log-in</h2>

      <form action="placeholder-api-address" method="post">
        <!-- for Anne, i think this is where you swap a lot of things-->
        <div class="input-group">
          <label for="username">USERNAME:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="password">PASSWORD:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="button-group">
          <button type="submit" class="login-button">Log In</button>
          <!-- this is where im submitting the form-->
          <button type="button" class="forgot-password-button">Forgot password</button>
        </div>
      </form>

    </div>
  </body>
</html>
