<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/UserProfile.css">
<title>UserProfile</title>
</head>

<body>

<header>
  <img src="/images/EATLogo.png" alt="EAT Logo" class="LogoInHeader"/>

  <nav>
    <a href="/UserProfile">Profile</a>
    <a href="/dining">Home</a>
  </nav>
</header>

<div class="bannerLogIn"> </div>

<div class="forms-container">
    <form id="loginForm" class="user-form" >
        <div class="left">
            <h2>Welcome back, Anne</h2>
            <p style="font-size: 20px;">Username:</p>
            <p style="font-size: 20px;">Email:</p>
            <p style="font-size: 20px;">User ID:</p>
        </div>      
    </form>  
    </form>   
  </div>
</body>
</html>